<div class ="full-width gb vertical flexing sb row fc-white p-middle">
  <div class = "block col-sm-2">
    <div class = "text-center">
      <p class = "no-margin  italic">"Oeuvrons pour une Société qui vit, travaille et consomme dans le respect de la nature."</p>
      <div class="footer-links sa">
        <!-- <a href="#"><i class="fab fa-instagram"></i></a> -->
        <%= link_to "https://www.facebook.com/Tizybird/", target: :_blank  do %>
          <i class="fab fa-facebook"></i>
        <% end %><%= link_to "https://www.linkedin.com/company/tizy/", target: :_blank  do %>
          <i class="fab fa-linkedin"></i>
        <% end %>
        <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
      </div>
    </div>
  </div>
  <br>
  <div class = "middle">
    <%= image_tag "logo-tizy-v2.png", class: "w-middle center" %>
  </div>
  <br>
  <div class = "block col-sm-2 center text-center">
    <p class = "no-margin">Tizy S.A.S.</p>
    <p class = "no-margin">Lyon</p>
    <p class = "no-margin">FRANCE</p>
    <p class = "no-margin">tizy-repond-a-tout@tizy.app</p>
  </div>
</div>
