<div class="footer">
  <div class="footer-links">
    <!-- <a href="#"><i class="fab fa-instagram"></i></a> -->
    <%= link_to "https://www.facebook.com/Tizybird/", target: :_blank  do %>
      <i class="fab fa-facebook"></i>
    <% end %><%= link_to "https://www.linkedin.com/company/tizy/", target: :_blank  do %>
      <i class="fab fa-linkedin"></i>
    <% end %>
    <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
  </div>
  <div class="footer-copyright">
    Tizy S.A.S. <i class="fas fa-leaf"></i>
  </div>
</div>
