<div class="banniere" style="background-size: cover; background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0)), url(https://images.unsplash.com/photo-1521566652839-697aa473761a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);">
  <div class="titre-rubrique">
    <h1>Vous êtes un <strong>distributeur alimentaire</strong> et souhaitez faciliter la <strong>consommation responsable de vos clients ?</strong></h1>
    <p>Nous développons des services pour <strong> promouvoir</strong> la consommation responsable auprès de vos clients.</p>
    <a class="btn btn-danger" href="#">Nous contacter</a>
  </div>
</div>
<div class = "container">
  <div class = "box white-back">
    <div class = "flexing middle">
      <%= image_tag "bird-green2.png", class:  "box-head-picture" %>
      <h1>Nos engagements :</h1>
    </div>
    <ul class="list-group">
      <li class="list-group-item">Nous souhaitons faciliter l'identification des produits éco-responsables au moment de vos achats</li>
      <li class="list-group-item">Nous vous mettons à disposition une information certifiée et compréhensive qui détaille les impacts environnementaux du produit</li>
      <li class="list-group-item">Vos informations personnelles sont protéjées et nous n'en faisons pas commerce</li>
      <li class="list-group-item">Contribuez-vous aussi à la transition écologique en recommandant des changements aux entreprises</li>
    </ul>
  </div>
  <div class = "box grey-back">
    <div class = "flexing middle">
      <%= image_tag "bird-light-green.png", class:  "box-head-picture" %>
      <h1>Comment Tizy évalue les impacts environnementaux ?</h1>
    </div>
    <ul class="list-group">
      <li class="list-group-item">33% provient du packaging : Structure, Matériaux, Recyclage, Label, Conservation</li>
      <li class="list-group-item">33% provient des origines: Label, Transparence, Distance </li>
      <li class="list-group-item">33% provient des émissions de CO2: analyse ingrédient par ingrédient</li>
    </ul>
  </div>
  <div class = "box white-back">
    <div class = "flexing middle">
      <%= image_tag "bird-yellow.png", class:  "box-head-picture" %>
      <h1>Autre chose ?</h1>
    </div>
    <ul class="list-group">
      <li class="list-group-item">xxxxxxxx</li>
      <li class="list-group-item">xxxxxxxxxx </li>
      <li class="list-group-item">xxxxxxxxxx</li>
    </ul>
  </div>
</div>

