<div class = "conteneur">
  <div class="banniere" style="background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url(https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80);">
    <div class="titre-home">
      <h1><strong>Accompagnez le </strong> changement de consommation <strong> de vos clients engagés</strong></h1>
      <p>Mettez en place des services qui répondent aux attentes de vos clients éco-responsables pour les fidéliser et accélérer la transition écologique de notre consommation</p>
    </div>
  </div>
  <br>
  <br>
</div>

