<div class = "conteneur">
  <div class="banniere" style="background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url(https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80);">
    <div class="titre-home">
      <h1><strong>Accompagnez le </strong> changement de consommation <strong> de vos clients engagés</strong></h1>
      <p>Mettez en place des services qui répondent aux attentes de vos clients éco-responsables pour les fidéliser et accélérer la transition écologique de notre consommation</p>
    </div>
  </div>
  <br>
  <br>
  <div class = "ccm">
    <div class = "text-block">
      <h1 class ="gb br-small p-small fc-white">Vos besoins ?</h1>
      <br>
      <div class ="flexing row sa">
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">1. <strong class = "fc-green">Fidélisez et attirez</strong> vos clients.</h1>
          </div>

          <div class = "circle-around gb">
            <div class = "circle-inner wb">
              <i class="heart fc-orange fas fa-users"></i>
            </div>
          </div>
          <br>
          <p class ="fc-medium-grey">Les consommateurs éco-responsables sont de plus en plus nombreux. Ils cherchent des alternatives et abandonnent vos espaces de vente ? Répondez à leurs attentes et donnez leurs l'information qu'ils méritent !</p>
        </div>
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">2. <strong class = "fc-green">Sélectionnez</strong> des produits responsables.</h1>
          </div>

          <div class = "circle-around gb">
            <div class = "circle-inner wb">
              <i class="heart fc-orange fas fa-mouse-pointer"></i>
            </div>
          </div>
          <br>
          <p class ="fc-medium-grey">Pour répondre positivement à la question de la transition écologique, nous devons mieux produire et mieux consommer. Le distributeur a un rôle majeur à jouer dans la sélection des produits à vendre. Sélectionnez des produits éco-responsables en amont, c'est facilitez la consommation responsable en aval !</p>
        </div>
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">3. <strong class = "fc-green">Diversifiez</strong> vos missions et activités</h1>
          </div>
          <div class = "circle-around gb">
            <div class = "circle-inner wb">
              <i class="heart fc-orange fas fa-heart"></i>
            </div>
          </div>
          <br>
          <p class ="fc-medium-grey">Grâce à vous, nous achetons de quoi nous nourire. Grâce à vous nous pourrions accélérer la transition écologique de notre Société. Vous avez un rôle pédagogique de sensibilisation majeur à jouer. Acceptez cette responsabilité et soyez tourné vers l'avenir ! </p>
        </div>
      </div>
    </div>
    <br>
    <div class = "text-block">
      <h1 class ="ob br-small p-small fc-white">Comment ça marche ?</h1>
      <br>
      <h4 class = "fc-medium-grey">Tizy vous accompagne sur différentes thématiques autour de la question de l'information client physique et digitale. Les services se réalisent à façon selon les besoins locaux de vos magasins. Nous avons à coeur d'accompagner vos projets et mettons à votre disposition nos compétences et nos services.</h4>

    </div>
    <br>

</div>

