<div class = "conteneur">
   <div class="banniere" style="background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0)), url(/assets/equipe-tizy-forest.jpg);">
  </div>
  <br>
  <div class = "ccm ">
    <div class = "text-block">
      <br>
      <h1 class ="gb br-small p-small fc-white">Notre équipe !</h1>
      <br>
      <div class ="flexing row sa">
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2 fc-dark-grey">
            <h1>Jean-Guillaume HERBRETEAU</h1>
            <p>Fondateur, CEO</p>
          </div>
          <div class = "circle-around gb">
            <div class = "circle-inner wb">
              <%= image_tag "JGH-photo-crop", class: "avatar"%>
            </div>
          </div>
          <br>
          <p class = "fc-medium-grey">Jean-Guillaume a été responsable financier pendant 7 années supportant la croissance des entreprises en finançant, contrôlant et structurant les activités. Passionné par le développement web, il sait aussi développer et maîtrise les enjeux technos de la société.</p>

        </div>
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2 fc-dark-grey">
            <h1>Alexandre CHELEDNIK</h1>
            <p>Back-end développeur</p>
          </div>
          <div class = "circle-around gb">
            <div class = "circle-inner wb">
              <%= image_tag "AC-photo-crop", class: "avatar"%>
            </div>
          </div>
          <br>
          <p class = "fc-medium-grey">Alexandre est spécialisé dans le développement Back ainsi qu’en javascript. Il transforme nos besoins applicatifs en réalité logiciel.</p>
          <br>
        </div>
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2 fc-dark-grey">
            <h1>Laurent NAITZA</h1>
            <p>Front-end développeur</p>
          </div>
          <div class = "circle-around gb">
            <div class = "circle-inner wb">
              <%= image_tag "LN-photo-crop", class: "avatar"%>
            </div>
          </div>
          <br>
          <p class = "fc-medium-grey">Laurent est spécialisé dans le développement front web. C’est lui qui design les pages et gère les systèmes applicatifs notamment le fonctionnement de notre app'. </p>
          <br>
        </div>
      </div>
      <div class = "center-div text-grey col-sm-12 text-size">


        <p><strong style = "font-size:1.5em; color: rgba(18, 147, 117, 1);">T</strong><strong style = "font-size:1.5em; color: rgba(216, 97, 25, 1);">i</strong><strong style = "font-size:1.5em; color: rgba(158, 63, 39, 1);">z</strong><strong style = "font-size:1.5em; color: rgba(199, 138, 37, 1);">y</strong>, c'est un oiseau et 3 gars engagés pour vous fournir la meilleure app' possible pour l'évaluation environnementale de vos produits alimentaires !</p>

        <p>Nous nous sommes rencontrés en faisant la formation du <strong style= "color: rgba(158, 63, 39, 1)">Wagon</strong> qui permet d'apprendre à coder. Leur slogan, changer de vie en apprenant à coder ! C'est vrai, bon, nous avons vraiment changé de vie 6 mois après mais l'essentiel reste de changer et s'amuser !</p>

        <p> Notre conviction: <strong style= "font-style: italic; font-weight: normal; color: rgba(18, 147, 117, 1);">"pour accélérer la transition écologique de notre société, il faut mettre en place des indicateurs quotidiens permettant de mesurer les impacts de nos produits et de notre consommation."</strong> </p>
        <br>
        <br>
      </div>
    </div>
    <div class = "text-block gb fc-white">
      <br>
      <h1> Nous rêvons d'une Société qui vit, travaille et consomme dans le respect de la nature</h1>
      <br>
    </div>
    <div class = "text-block fc-green">
      <br>
      <i class="fas fs-large fa-globe-europe"></i>
      <br>
    </div>
    <br>
    <br>
    <div class = "text-block ob fc-white">
      <br>
      <h1> Nous travaillons avec positivité, bienveillance et humilité</h1>
      <br>
    </div>
    <div class = "text-block fc-orange">
      <br>
      <i class="fas fs-large fa-heart"></i>
      <br>
    </div>
  </div>
<br>




