
 <div class="banniere" style="background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0)), url(/assets/team-tizy.png);">
</div>
<div class = "container">
  <div class = "box white-back">
    <h1>Qui sommes-nous ?</h1>

    <p>Un projet c'est avant tout une  <strong style= "color: rgba(71, 128, 36, 1)">TEAM</strong> ! </p>

    <p><strong style = "font-size:1.5em; color: rgba(18, 147, 117, 1);">T</strong><strong style = "font-size:1.5em; color: rgba(216, 97, 25, 1);">i</strong><strong style = "font-size:1.5em; color: rgba(158, 63, 39, 1);">z</strong><strong style = "font-size:1.5em; color: rgba(199, 138, 37, 1);">y</strong>, c'est un oiseau et 3 gars engagés pour vous fournir la meilleure app' possible pour l'évaluation environnementale de vos produits alimentaires !</p>

    <p>On s'est tous rencontré en faisant la formation du <strong style= "color: rgba(158, 63, 39, 1)">Wagon</strong> qui permet d'apprendre à coder. Leur slogan, changer de vie en apprenant à coder ! C'est vrai, bon, nous on a vraiment changé de vie 6 mois après mais l'essentiel reste de changer et s'amuser !</p>

    <p>Merci à <strong style= "color: rgba(18, 147, 117, 1)">Jean-Guillaume Herbreteau</strong>, <strong style= "color: rgba(216, 97, 25, 1)">Alexandre Chelednik</strong> et <strong style= "color: rgba(199, 138, 37, 1)">Laurent Naitza</strong> qui donnent de leur temps chaque jour pour faire avancer Tizy ! Merci à vous tous qui nous supportez dans ce projet !</p>

    <p>Suivez, partagez, et utilisez Tizy. Vous êtes notre meilleur atout.</p>

    <p> A + </p>

    <p>N'oubliez pas, consommer durable c'es<strong>T'izy !</strong></p>
  </div>
</div>
<br>
<br>
<br>

