
<div class = "gradient-top"><div>
  <div class="banner" style="background-size: cover; background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0)), url(https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
    <div class="container box-header-banner white-background right-position">
      <h1>Tizy suit <strong class = "">la transition écologique</strong> de vos produits <strong>alimentaires</strong></h1>
      <p>Ensemble, facilitons la <strong> transition écologique</strong> de notre alimentation.</p>
      <a class="btn btn-danger" href="#">Nous contacter</a>
    </div>
    <div class = "smartphone" style="background-size: cover; background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0)), url(https://i.ya-webdesign.com/images/hand-holding-iphone-png-7.png);">
    </div>
  </div>
<div class = "gradient-bottom"><div>
<div class="download">
  <div class = "flexing">
    <div class = "download-android">
      <div class = "flexing">
        <img class = "icon-download" src = "https://img.pngio.com/google-play-store-logo-png-transparent-svg-vector-freebie-supply-google-play-store-logo-png-2400_2746.png">
        <div class = "Block">
          <p> Disponible sur </p>
          <h1 class = "download-head"> Google Play </h1>
        </div>
      </div>
    </div>

    <div class = "download-android">
      <div class = "flexing">
        <img class = "icon-download" src = "https://www.stickpng.com/assets/images/58e383a9204d556bbd97b149.png">
        <div class = "Block">
          <p> Disponible sur </p>
          <h1 class = "download-head"> App store</h1>
        </div>
      </div>
    </div>
  </div>
</div>
