<div class = "conteneur">
  <div class="banniere" style="background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url(https://images.unsplash.com/photo-1529511582893-2d7e684dd128?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80);">
    <div class="titre-home">
      <h1><strong>Répondez aux</strong> attentes de vos clients engagés <strong>en leurs offrant l'information environnementales qu'ils attendent.</strong></h1>
      <p>Mettez la transparence de vos produits au coeur de votre stratégie et transformez l'expérience marque de vos client.</p>
    </div>
  </div>
  <br>
  <br>
</div>
