<div class = "conteneur">
  <div class="banniere" style="background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url(https://images.unsplash.com/photo-1529511582893-2d7e684dd128?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80);">
    <div class="titre-home">
      <h1><strong>Répondez aux</strong> attentes de vos clients engagés <strong>en leurs offrant l'information environnementale qu'ils attendent.</strong></h1>
      <p>Mettez la transparence de vos produits au coeur de votre stratégie et développez votre marque auprès de vos clients.</p>
    </div>
  </div>
  <br>
  <br>
  <div class = "ccm">
    <div class = "text-block">
      <h1 class ="gb br-small p-small fc-white">Vos besoins ?</h1>
      <br>
      <div class ="flexing row sa">
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">1. <strong class = "fc-green">Fidélisez et attirez</strong> vos clients.</h1>
          </div>

          <div class = "circle-around gb">
            <div class = "circle-inner wb">
              <i class="heart fc-orange fas fa-users"></i>
            </div>
          </div>
          <br>
          <p class ="fc-medium-grey">Les comportements consommateurs ont changés. Les clients sont désireux d'une communication produit transparente. Les indicateurs environnementaux sont attendus par les consommateurs. Avec Tizy, communiquez en toute transparence des informations environnementales qui valoriserons votre marque !</p>
        </div>
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">2. <strong class = "fc-green">Développez</strong> vos ventes.</h1>
          </div>

          <div class = "circle-around gb">
            <div class = "circle-inner wb">
              <i class="heart fc-orange fas fa-rocket"></i>
            </div>
          </div>
          <br>
          <p class ="fc-medium-grey">Les consommateurs engagés sont en attente d'indicateur leur permettant de faciliter la consommation de produits éco-responsables. Facilitez cette lecture et boostez vos ventes ! L'accélération de la transition écologique accélèrera vos résultats.</p>
        </div>
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">3. <strong class = "fc-green">Construisez</strong> votre marque dans l'avenir</h1>
          </div>
          <div class = "circle-around gb">
            <div class = "circle-inner wb">
              <i class="heart fc-orange fas fa-heart"></i>
            </div>
          </div>
          <br>
          <p class ="fc-medium-grey">L'écologie n'est pas une mode mais marque un changement profond de comportements de Société. La marque de demain sera éco-responsable et transparente. Inscrivez votre stratégie marque dans celle de la transition écologique pour le bien de tous !</p>
        </div>
      </div>
    </div>
    <br>
    <div class = "text-block">
      <h1 class ="ob br-small p-small fc-white">Comment ça marche ?</h1>
      <br>
      <div class ="flexing row sa">
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">1. <strong class = "fc-orange">Identifiez</strong> les produits que vous souhaitez mettre en avant.</h1>
          </div>

          <div class = "circle-around ob">
            <div class = "circle-inner wb">
              <i class="heart fc-green fas fa-glasses"></i>
            </div>
          </div>
          <br>
          <p class ="fc-medium-grey">Analysez et identifiez les produits que vous souhaitez mettre en valeur auprès de vos clients engagés.</p>
        </div>
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">2. Nous <strong class = "fc-orange" >contrôlons</strong> vos informations produits.</h1>
          </div>

          <div class = "circle-around ob">
            <div class = "circle-inner wb">
              <i class="heart fc-green fas fa-check-circle"></i>
            </div>
          </div>
          <br>
          <p class ="fc-medium-grey">Une bonne information doit pouvoir être vérifiée. Nous vérifions ainsi vos informations d'origine, de produit, de packaging afin d'obtenir un résultat fiable et fidèle à vos produits.</p>
        </div>
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">3. <strong class = "fc-orange" >Affichez</strong> l'information contrôlée sur vos emballages.</h1>
          </div>
          <div class = "circle-around ob">
            <div class = "circle-inner wb">
              <i class="heart fc-green fas fa-paint-roller"></i>
            </div>
          </div>
          <br>
          <p class ="fc-medium-grey">Intégrez cette information sur vos emballages par l'apposition d'un autocollant ou en intégrant l'indicateur directement à votre packaging. Le plus simple pour vous, le mieux c'est !</p>
        </div>
         <div class = "card2 text-size col-sm-3 ob fc-white">
          <div class ="card-header2">
            <h1 class ="fc-white">4. <strong>Mesurez</strong> l'impact de cette information sur vos clients.</h1>
          </div>
          <div class = "circle-around wb">
            <div class = "circle-inner ob">
              <i class="heart fc-white fas fa-balance-scale-left"></i>
            </div>
          </div>
          <br>
          <p class ="fc-white">Avec nos outils d'analyse, mesurez en temps réel l'impact de cette information sur le comportement de vos consommateurs. C'est certain, cette information transparente drivera vos ventes ! </p>
        </div>
      </div>
    </div>
    <br>
    <div class = "text-block">
      <h1 class ="yb br-small p-small fc-white">Expérience utilisateur</h1>
      <br>
      <div class ="flexing row sa">
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">1. <strong class = "fc-yellow">Affichage</strong> du résultat sur l'emballage.</h1>
          </div>

          <%= image_tag "product-stamp.png", class: "product" %>

        </div>
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">2. <strong class = "fc-yellow">Scan</strong> du du QRcode sans télécharger d'application.</h1>
          </div>
          <%= image_tag "stamp-scanning.png", class: "product" %>
        </div>
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">3. <strong class = "fc-yellow">Consultation</strong> de l'analyse en format mobile.</h1>
          </div>
          <%= image_tag "smartphone-general.png", class: "product" %>
        </div>
         <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">4. <strong class = "fc-yellow">Découverte</strong> avec transparence de l'histoire du produit.</h1>
          </div>
          <%= image_tag "smartphone-origine.png", class: "product" %>
        </div>
      </div>
      <br>
      <br>
    </div>
</div>
