

  <div class = "gradient-top"><div>
<div class="banniere" style="background-size: cover; background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0)), url(https://images.unsplash.com/photo-1528034441002-cdbf746744b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <div class="titre-rubrique">
    <h1 >Vous êtes un <strong>restaurateur</strong> et souhaitez valoriser votre engagement dans la <strong>transition écologique de vos menus et de votre restaurant ?</strong></h1>
    <p>Nous permettons de <strong> mesurer et promouvoir</strong> votre menu à vos clients.</p>
    <a class="btn btn-danger" href="#">Nous contacter</a>
  </div>
</div>
<div class = "gradient-bottom"><div>


<div class = "container">
  <div class = "box white-back">
    <h1>Comment ca marche ?</h1>
    <ul class="list-group">
      <li class="list-group-item">Vos clients sont de plus en plus demandeurs de transparence.</li>
      <li class="list-group-item">Vos clients ont besoin d'identifier comment consommer durablement dans votre restaurant.</li>
      <li class="list-group-item">Vous souhaitez vous engager dans une transition écologique et identifier vos leviers d'action.</li>
      <li class="list-group-item">Vous souhaitez rendre visible votre engagement auprès de vos collaborateurs et clients.</li>
    </ul>
  </div>
  <div class = "box grey-back">
    <p>Mais encore</p>
  </div>
  <div class = "box white-back">
    <p>On est toujours là</p>
  </div>
  <div class = "box grey-back">
    <p>Encore là </p>
  </div>
</div>
