<div class = "conteneur">
  <div class="banniere" style="background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url(https://images.unsplash.com/photo-1544461772-722f499fa2a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
    <div class="titre-home">
      <h1><strong>Gagnez vos appels d'offre</strong> en valorisant <strong>votre engagement RSE en faveur de l'environnement</strong></h1>
      <p>Mettez la transparence de vos assiettes au coeur de votre stratégie et transformez l'expérience client dans votre restaurant.</p>
    </div>
  </div>
  <br>
  <br>
  <div class = "ccm">
    <div class = "text-block">
      <h1 class ="gb br-small p-small fc-white">Vos besoins ?</h1>
      <br>
      <div class ="flexing row sa">
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">1. <strong class = "fc-green">Remportez</strong> des marchés publics ou privés.</h1>
          </div>

          <div class = "circle-around gb">
            <div class = "circle-inner wb">
              <i class="heart fc-orange fas fa-euro-sign"></i>
            </div>
          </div>
          <br>
          <p class ="fc-medium-grey">Les dimensions RSE et services sont de plus en plus prédominantes dans l'obtention de vos appels d'offre. Avec Tizy, nous vous accompagnons pourqu'un service client valorise votre RSE !  </p>
        </div>
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">2. <strong class = "fc-green">Fidélisez</strong> vos clients engagés.</h1>
          </div>

          <div class = "circle-around gb">
            <div class = "circle-inner wb">
              <i class="heart fc-orange fas fa-user-check"></i>
            </div>
          </div>
          <br>
          <p class ="fc-medium-grey">Télétravail et changement de régime alimentaire de vos clients sont autant de facteurs qui les éloignent de vos restaurants. Mettez la transparence de vos assiettes au coeur de votre stratégie confiance client et donnez leur l'envie d'utiliser vos services.</p>
        </div>
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">3. <strong class = "fc-green">Engagez-vous</strong> et contribuez au changement positif de notre Société.</h1>
          </div>
          <div class = "circle-around gb">
            <div class = "circle-inner wb">
              <i class="heart fc-orange fas fa-heart"></i>
            </div>
          </div>
          <br>
          <p class ="fc-medium-grey">Soyez précurseur et inscrivez votre entreprise dans l'histoire de la transition écologique. L'alimentation est un vecteur de valeurs fortes, soyez ce vecteur, soyez l'avenir !</p>
        </div>
      </div>
    </div>
    <br>
    <div class = "text-block">
      <h1 class ="ob br-small p-small fc-white">Comment ça marche ?</h1>
      <br>
      <div class ="flexing row sa">
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">1. <strong class = "fc-orange">Jumelez</strong> votre système d'information avec Tizy.</h1>
          </div>

          <div class = "circle-around ob">
            <div class = "circle-inner wb">
              <i class="heart fc-green fas fa-database"></i>
            </div>
          </div>
          <br>
          <p class ="fc-medium-grey">Aucune saisie manuelle n'est à prévoir. En connectant votre service informatique à Tizy, nous récupérons vos fiches recettes et ingrédients de manière automatique.  </p>
        </div>
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">2. Nous <strong class = "fc-orange">évaluons</strong> vos recettes selon nos indicateurs.</h1>
          </div>

          <div class = "circle-around ob">
            <div class = "circle-inner wb">
              <i class="heart fc-green fas fa-diagnoses"></i>
            </div>
          </div>
          <br>
          <p class ="fc-medium-grey">Avec notre outils, nous réalisons le diagnostic environnemental de vos recettes et construisons des indicateurs environnementaux répondant aux attentes de vos clients. Nous préparons une page de restitution de résultat simple et ludique.</p>
        </div>
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">3. <strong class = "fc-orange">Affichez</strong> l'information obtenue sur vos stands plats.</h1>
          </div>
          <div class = "circle-around ob">
            <div class = "circle-inner wb">
              <i class="heart fc-green fas fa-eye"></i>
            </div>
          </div>
          <br>
          <p class ="fc-medium-grey">Rendre l'information visible à vos clients est la clef pour maximiser votre impact. Facilitez son accès en la mettant à disposition directement sur vos points de vente. </p>
        </div>
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">4. <strong class = "fc-orange">Intéragissez</strong> avec vos clients en temps réel.</h1>
          </div>
          <div class = "circle-around ob">
            <div class = "circle-inner wb">
              <i class="heart fc-green fas fa-question"></i>
            </div>
          </div>
          <br>
          <p class ="fc-medium-grey">L'avis consommateur est clef pour piloter la performance de votre restaurant. Intérrogez, collectez et analysez les attentes de vos consommateurs en toute transparence est un facteur de réussite pour l'amélioration de vos services.</p>
        </div>
      </div>
    </div>
    <div class = "text-block hidden">
      <h1 class ="yb br-small p-small fc-white">Expérience utilisateur</h1>
      <br>
      <div class ="flexing row sa">
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">1. <strong class = "fc-yellow">Affichage</strong> du résultat sur l'emballage.</h1>
          </div>

          <%= image_tag "product-stamp.png", class: "product" %>

        </div>
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">2. <strong class = "fc-yellow">Scan</strong> du du QRcode sans télécharger d'application.</h1>
          </div>
          <%= image_tag "stamp-scanning.png", class: "product" %>
        </div>
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">3. <strong class = "fc-yellow">Consultation</strong> de l'analyse en format mobile.</h1>
          </div>
          <%= image_tag "smartphone-general.png", class: "product" %>
        </div>
         <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">4. <strong class = "fc-yellow" >Découverte</strong> avec transparence de l'histoire du produit.</h1>
          </div>
          <%= image_tag "smartphone-origine.png", class: "product" %>
        </div>
      </div>
      <br>
      <br>
    </div>
</div>
