<div class = "conteneur">
  <div class="banniere" style="background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url(https://images.unsplash.com/photo-1574417792951-72a78328d492?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
    <div class="formulaire-contact">
      <h3>Merci pour votre message !</h3>
      <p>Nous vous répondrons dans les plus brefs délais.</p>
      <br>
      <br>
      <%= link_to "Retour", root_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>
