<div class="formulaire-validation">
    <h3>Merci pour votre message!</h3>

    <p>nous vous répondrons dans les plus brefs délais</p>
    <br>
    <%= link_to "Retour", root_path, class: "btn btn-danger" %>
</div>
