.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 50vh;
  overflow: hidden;
}

.gradient-top{
  height:5vh;
  width:100vw;
  background: linear-gradient(rgba(255,255,255,1), rgba(230,230,230,1));
}
.gradient-bottom{
  height:5vh;
  width:100vw;
  background: linear-gradient( rgba(230,230,230,1), rgba(255,255,255,1));
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

.gap-landing{
  height:10vh;
}

.white-background{
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
}

.download{
  width: 60vh;
  margin: 0 auto ;
  margin-top: 5vw;
  overflow: hidden;

}

  .download-android{
  width: 100%;
  background: rgba(0,0,0,0.8);
  border-radius: 0.5em;
  color:white;
  margin-right: 10vh;
  margin-bottom:5vh;
  box-shadow: 10px 5px 5px rgba(0,0,0,0.1);
  }

.icon-download{
  width: 5vh;
  margin:1vh;

}

.flexing{
  display: flex;

}

.download-head{
  font-size: 2vh;
}

.download-android:hover{
  background-color: rgba(44, 150, 121, 1)
}
.smartphone{
  height: 43vh;
  width:38vh;
  position: absolute;
  top: 28vh;
  left:-4vw;
  overflow:hidden;
}
