
.banniere {
  width: 100%;
  height: 55vh;
  background-size: cover;
  margin: 25px 0 25px 0;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;

  .smartphone {
    height: 60vh;
    width: 48vh;
    align-self: flex-end;
    position: absolute;
    left: 3vw;
    background-size: cover;
  }

  .titre-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 1vw;
    height: 50vh;
    width: 50vw;
    border-radius: 0.5em;
    background: rgba(255, 255, 255, 0.1);
    padding: 32px;
    h1 {
      font-weight: bolder;
      color: white;
      font-size: 32px;
      margin: 0;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    }
    p {
      font-size: 16px;
      color: white;
      opacity: .9;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6)
    }
  }
}





.download {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 22vh;
  background-image: linear-gradient(#e9e9e9, #fff, #e9e9e9);
  .download-android {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0.5em;
    color: white;
    margin: 12px 40px 12px 40px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 4px;
    height: 62px;
    width: 145px;
    .icon-download {
      height: 40px;
    }
    .download-txt {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
      h3 {
        font-size: 16px;
      }
      p {
      font-size: 10px;
      }
    }
  }
}

.download-android:hover {
  background-color: #119c7d;
}

.box-head-picture{
  width:5vh;
  height:5vh;
  margin-right:2.5vh;
}
.middle {
  align-items: center;
}

// responsive!!!

@media screen and (min-width: 1400px) {
  .banniere {
    height: 60vh !important;
    .titre-home {
      width: 50vw !important;
      h1{
        font-size: 3vh !important;
      }
      p {
        font-size: 1.5vh !important;
      }
    }
  }
  .smartphone {
    height: 48vh !important;
    width: 37vh !important;
  }
}

@media screen and (max-width: 920px) {
  .titre-home {
    h1{
      font-size: 24px !important;
    }
    p {
      font-size: 16px !important;
    }
  }
}

@media screen and (max-width: 800px) {
  .banniere {
    height: 100% !important;
    flex-direction: column-reverse !important;
    .titre-home {
      right: auto;
      position: inherit;
      width: 85vw;
      h1{
        font-size: 28px !important;
      }
      p {
        font-size: 14px !important;
      }
    }
    .smartphone {
      height: 48vh;
      width: 37vh;
      position: inherit !important;
      align-self: center;
      left: auto;
    }
  }
}

@media screen and (max-width: 400px) {
  .titre-home {
    width: 98vw !important;
    h1{
      font-size: 16px !important;
    }
    p {
      font-size: 8px !important;
    }
  }
}

@media screen and (max-width: 343px) {
  .titre-home {
    h1{
      font-size: 12px !important;
    }
    p {
      font-size: 8px !important;
    }
  }
  .smartphone {
    height: 38vh !important;
    width: 27vh !important;
  }
}


@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait) {
  .banniere {
    height: 100% !important;
    flex-direction: column-reverse !important;
    .titre-home {
      right: auto;
      position: inherit;
      width: 85vw;
      h1{
        font-size: 4vh !important;
      }
      p {
        font-size: 2vh !important;
      }
    }
    .smartphone {
      height: 48vh;
      width: 37vh;
      position: inherit !important;
      align-self: center;
      left: auto;
    }
  }
}



