.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 50vh;
  overflow: hidden;
  margin-top: 2vh;
}
.tizy-message{
  height:51vh;
  position:relative;
  top:-15.3vh;

  background-color: rgba(255,255,255,0.4);
}
.right-comment{
  width:60%;
  background-color: rgba(18, 147, 117, 0.6);
  border-radius: 2em;
  padding:2vh;
  position:relative;
  left:3vw;

}
.tizy-think{
  display:flex;
  position:relative;
  top:40vh;
}
.white{

  margin:-0.5vh;
  position:relative;
}
.circle-small{
  width:2.5vh;
  height: 2.5vh;
  border-radius: 50%;
  top:1.5vh;
  left:0.5vw;
  background-color: rgba(158, 63, 39, 1);

}
.circle-medium{
  width:5vh;
  height: 5vh;
  border-radius: 50%;
  top:-2vh;
  left:0.5vw;
  background-color: rgba(216, 97, 25, 1);

}
.circle-large{
  width:7.5vh;
  height: 7.5vh;
  border-radius: 50%;
  top:-7vh;
  left:0vw;
  background-color: rgba(18, 147, 117, 1);

}
.gradient-top{
  height:5vh;
  width:100vw;
  background: linear-gradient(rgba(255,255,255,1), rgba(230,230,230,1));
}
.gradient-bottom{
  height:5vh;
  width:100vw;
  background: linear-gradient( rgba(230,230,230,1), rgba(255,255,255,1));
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

.gap-landing{
  height:10vh;
}

.white-background{
  background: rgba(255, 255, 255, 0.1);
}

.black-background{
  background: rgba(0, 0, 0, 0.3);
}

.box-header-banner {
  border-radius: 0.5em;
  padding:5vh;
}
.middle{
  vertical-align: middle;
}

.right-position {
  width: 40vw;
  position: absolute;
  left:50vw;
  top:15vh;
}
.tizy-banner{
  width:5vw;
  filter: drop-shadow(5px 0px 2px rgba(255, 255, 255, 0.8));
}

.left-position {
  width: 40vw;
  position: absolute;
  right:50vw;
  top:15vh;
}

.center-position {
  width: 40vw;
}

.download{
  width: 60vh;
  margin: 0 auto ;
  margin-top: 5vw;
  overflow: hidden;

}

  .download-android{
  width: 100%;
  background: rgba(0,0,0,0.8);
  border-radius: 0.5em;
  color:white;
  margin-right: 10vh;
  margin-bottom:5vh;
  box-shadow: 10px 5px 5px rgba(0,0,0,0.1);
  }

.icon-download{
  width: 5vh;
  margin:1vh;

}

.flexing{
  display: flex;

}

.download-head{
  font-size: 2vh;
}

.download-android:hover{
  background-color: rgba(44, 150, 121, 1)
}
.smartphone{
  height: 43vh;
  width:38vh;
  position: absolute;
  top: 18vh;
  left:-4vw;
  overflow:hidden;
}
