
.banniere {
  width: 100%;
  height: 55vh;
  background-size: cover;
  margin: 25px 0 25px 0;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;


  .smartphone {
    width: 40vh;
    align-self: flex-end;
    position: absolute;
    left: 3vw;
    background-size: cover;
  }

  .titre-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 1vw;
    height: 50vh;
    width: 50vw;
    text-align: center;
    border-radius: 0.5em;
    background: rgba(255, 255, 255, 0.1);
    padding: 32px;
    h1 {
      font-weight: bolder;
      color: white;
      font-size: 2.8vw;
      margin: 0;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    }
    p {
      font-size: 1.6vw;
      color: white;
      opacity: .9;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6)
    }
    .btn-danger {
      font-size: 1.8vw;
    }
  }
}





.download {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 22vh;
  padding: 24px 0 24px 0;
  a {
    text-decoration: none;
  }
  .download-android {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(0.4turn, rgba(49,49,49,0.5), rgba(49,49,49,1));

    border-radius: 0.5em;
    color: white;
    margin: 12px 40px 12px 40px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 4px;
    height: 120px;
    width: 240px;
    .icon-download {
      height: 80px;
    }
    .download-txt {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
      h3 {
        font-size: 26px;
      }
      p {
      font-size: 16px;
      }
    }
  }
}

.download-android:hover {
  background-color: #119c7d;
}

// responsive!!!

@media only screen and (max-width: 1024px) {
  .banniere {
    height: auto !important;
    flex-direction: column-reverse !important;
    .titre-home {
      right: auto;
      position: inherit;
      width: 85vw;
      text-align: center;
      h1{
        font-size: 4.2vw !important;
      }
      p {
        font-size: 2.5vw !important;
      }
    }
    .smartphone {
      width: 34vh;
      position: inherit !important;
      align-self: center;
      left: auto;
    }
  }
  .carousel-control-next {
    display: none;
  }
  .carousel-control-prev {
    display: none;
  }
  .download {
    height: auto;
    padding-bottom: 8vh;
    .download-android {
      height: 88px;
      width: 176px;
      .icon-download {
        height: 66px;
      }
      .download-txt {
        h3 {
          font-size: 16px;
        }
        p {
        font-size: 13px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
    .download {
    flex-direction: column;
    .download-android {
      height: 72px;
      width: 148px;
      .icon-download {
        height: 56px !important;
      }
      .download-txt {
        p {
          font-size: 10px;
        }
      }
    }
  }
}
