.card2{
  width:25vw;
  border-left: 4px solid rgba(240,240,240,0.8);
  border-right: 4px solid rgba(240,240,240,0.8);
  border-bottom: 4px solid rgba(240,240,240,0.8);
  margin:2vw;
  border-radius:1em;
  padding:2vw;
  h1{
    font-size: 1.5em;
    color:rgba(0,0,0,0.8);
    text-align:center;

  }
  p{
    font-size: 1.2em;
    color:rgba(150,150,150,1);
    text-align:center;

  }
  .circle-around{
    width:15vw;
    height: 15vw;
    margin:0 auto;
    border-radius: 50%;
    background-color: rgba(18, 147, 117, 1);
  }
  .circle-inner{
    width:12vw;
    height: 12vw;
    margin:0 auto;
    border-radius: 50%;
    background-color: white;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    top:1.5vw;
    .heart{
      font-size: 6vw;
      color:rgba(216, 97, 25, 1);
    }
  }
}
.logo-journaux{
  margin: 1vw;
  width:15vh;
}
