.middle{
  vertical-align: middle;
}

.right-position {
  width: 40vw;
  position: absolute;
  left:50vw;
  top:15vh;
}

.left-position {
  width: 40vw;
  position: absolute;
  right:50vw;
  top:15vh;
}

.center-position {
  width: 40vw;
}

.black-background{
  background: rgba(0, 0, 0, 0.3);
}

.white-background{
  background: rgba(255, 255, 255, 0.1);
}

.box-header-banner {
  border-radius: 0.5em;
  padding:5vh;
}

.tizy-message{
  height:51vh;
  position:relative;
  top:-15.3vh;

  background-color: rgba(255,255,255,0.4);
}
.right-comment{
  width:60%;
  background-color: rgba(18, 147, 117, 0.6);
  border-radius: 2em;
  padding:2vh;
  position:relative;
  left:3vw;

}
.tizy-think{
  display:flex;
  position:relative;
  top:40vh;
}
.white{

  margin:-0.5vh;
  position:relative;
}
.circle-small{
  width:2.5vh;
  height: 2.5vh;
  border-radius: 50%;
  top:1.5vh;
  left:0.5vw;
  background-color: rgba(158, 63, 39, 1);

}
.circle-medium{
  width:5vh;
  height: 5vh;
  border-radius: 50%;
  top:-2vh;
  left:0.5vw;
  background-color: rgba(216, 97, 25, 1);

}
.circle-large{
  width:7.5vh;
  height: 7.5vh;
  border-radius: 50%;
  top:-7vh;
  left:0vw;
  background-color: rgba(18, 147, 117, 1);

}

.grey-back{
  background:rgba(250,250,250,1);
}

.green{
  color: rgba(44, 150, 121, 1);
  text-shadow: 1px 1px 3px rgba(0,0,0,0);
}

.flexing{
  display:flex;
}

.card-picture{
  width:50%;
  margin-left:25%;
}
.w-carroussel{
  width:30%;
  margin-left:35%;
}
