.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 3px solid rgba(245, 245,245, 1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
