.titre-rubrique {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 1vw;
  height: 50vh;
  width: 50vw;
  border-radius: 0.5em;
  background: rgba(255, 255, 255, 0.1);
  padding: 32px;

  h1 {
    font-weight: bolder;
    color: white;
    font-size: 24px;
    margin: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  }

  p {
    font-size: 16px;
    color: white;
    opacity: .9;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6)
  }
}

.titre-distributeur {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 1vw;
  height: 50vh;
  width: 50vw;
  border-radius: 0.5em;
  background: rgba(0, 0, 0, 0.3);
  padding: 32px;

  h1 {
    font-weight: bolder;
    color: white;
    font-size: 24px;
    margin: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  }

  p {
    font-size: 16px;
    color: white;
    opacity: .9;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6)
  }
}
